{% from 'macros.html' import render_field, render_event_topic,render_user_event%} 
{% block content %}

{{ render_user_event(user_event, event_form) }}

<div class='level-item'>

  <a class='button is-info toggle-edit-event-modal'><p>Edit Event</p></a>
  <div class="modal edit-event-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Edit Event</p>
        <button class="delete toggle-edit-event-modal" aria-label="close"></button>
      </header>
      <form method="POST" action="{{ url_for('edit_user_event') }}" class="form">
        <section class="modal-card-body">
          <div class="edit-form">
            {{ event_form.hidden_tag() }}
            <label class="label level-left">Event Title</label>
            {{ event_form.title (value=user_event.event.title, class="input")}}
            <br>
            <br>
            <label class="label level-left">Event Location</label>
            {{event_form.location (value=user_event.event.location, class="input")}}
            
            {{ event_form.event_id (value=user_event.event_id)}}
          </div>
          
          <br>
          <br>

          <div class='level'>
            <div class='level-left'>
              <label class='label level-item'>Change Subject</label>
              <select name="topics" class='select level-item is-size-6'>
                  <option>{{ user_event.event.topic.name  }}</option>
                  {% for topic in topics %}
                  {{render_event_topic(topic)}}
                  {% endfor %}
              </select>
            </div>
          </div> 
          <div class='level'>
            <div class='level-left'>
              <label class='label level-item'>Start Time</label>
              <input class='input level-item' id="event_time" type="datetime-local" name="event_time" value={{user_event.event.event_time}} />
            </div>
          </div>
          
          <label class='label'>Event Details</label>
          <textarea name='details' class='textarea'>{{user_event.event.details}}</textarea>
        </section>
        <footer class="modal-card-foot">
          <button type='submit' class="button is-info toggle-edit-event-modal">Edit Event</a>
          <button class="button toggle-edit-event-modal">Cancel</button>
        </footer>
      </form>
    </div>
  </div>
</div>
{% endblock %}