{% from 'macros.html' import render_field, render_event_topic %} 
{% block content %}
<div class='level-item'>
  <a class='button is-primary toggle-event-modal'><p>Host an Event</p></a>
  <div class="modal event-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Host an Event</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <form method="POST" action="{{ url_for('event') }}" class="form">
        <section class="modal-card-body">
          <!-- <form method="POST" action="{{ url_for('event') }}" class="form"> -->
          {{ form.hidden_tag() }}
            {% for field in form %}
            {{ render_field(field) }}
            {% endfor %}
          <label>Pick your subject:</label>
          <select name="topics">
            {% for topic in topics %}
            {{render_event_topic(topic)}}
            {% endfor %}
          </select>
          <label>Pick a time</label>
          <input id="event_time" type="datetime-local" name="event_time" value />
        </section>
        <footer class="modal-card-foot">
          <button type='submit' class="button is-success toggle-event-modal">Create Event</a>
          <button class="button toggle-event-modal">Cancel</button>
        </footer>
      </form>
    </div>
  </div>
</div>
{% endblock %}
