{% macro render_field(field) %}
    <div class="field">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="notification error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {{ field(placeholder=field.label.text) }}
    </div>
{% endmacro %}

{% macro render_topic(topic) %}
    <div data-id={{topic.id}} class='columns'>
       <input name={{topic.name}} type="checkbox">{{topic.name}}</input>
    </div>
    
{% endmacro %}

{% macro render_event(event) %}
    <div data-id={{event.id}}>
        <h1 class='has-background-black has-text-white'>{{event.title}}</h1>
        <h2>{{event.details}}</h2>
    </div>
{% endmacro %}


    </div>
