{% macro render_field(field) %}
<div class="field">
  {% if field.errors %} {% for error in field.errors %}
  <div class="notification error">{{ error }}</div>
  {% endfor %} {% endif %}
  {{ field(placeholder=field.label.text) }}
</div>
{% endmacro %} {% macro render_topic(topic) %}
<div
  data-id="{{ topic.id }}"
  data-name="{{ topic.name }}"
  class="topic tile box is-child has-background-light"
>
  <a href="{{url_for('main', topicid=topic.id)}}">
    <p class="title has-text-centered">{{ topic.name }}</p>
  </a>
</div>
{% endmacro %} {% macro render_topics_field(field) %}
<div class="topics_field">
  {{ field }}
</div>
{% endmacro %} {% macro render_user_event(user_event) %}
<div data-id="{{ user_event.id }}">
  <h1 class="has-background-black has-text-white">
    Title: {{ user_event.event.title }}
  </h1>
  <h2>Event details: {{ user_event.event.details }}</h2>
  <h2>Event time: {{ user_event.event.event_time }}</h2>
  <a>Edit Event</a>
</div>
{% endmacro %} {% macro render_attending_event(attending_event) %}
<div data-id="{{ attending_event.id }}">
  <h1 class="has-background-black has-text-white">
    Title: {{ attending_event.event.title }}
  </h1>
  <h2>Event details: {{ attending_event.event.details }}</h2>
  <h2>Event time: {{ attending_event.event.event_time }}</h2>
  <a href="{{url_for('unattend_event', eventid=attending_event.event.id)}}"
    >Unattend Event</a
  >
</div>

{% endmacro %} {% macro render_event_topic(topic) %}
<option data-id="{{ topic.id }}" name="{{ topic.id }}" value="{{ topic.id }}">{{
  topic.name
}}</option>
{% endmacro %} {% macro render_event(event) %}
<div
  data-id="{{ event.id }}"
  class="event tile box is-child has-background-light"
>
  <a role="button">
    <p class="title">{{ event.title }}</p>
    <p class="subtitle">{{ event.details }}</p>
    <a href="{{url_for('attend_event', eventid=event.id)}}">Attend Event</a>
  </a>
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ event.title }}</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button class="button">Cancel</button>
      </footer>
    </div>
  </div>
</div>
{% endmacro %} {% macro render_user_page_topics(topic)%}
<div>
  <h6>{{ topic.name }}</h6>
  <a href="{{url_for('user_profile', topicid=topic.id)}}"> Add </a>
</div>
{% endmacro %} {% macro render_user_topic(user_topic) %}
<div>
  <h6>{{ user_topic.topic.name }}</h6>
  <a href="{{url_for('delete_user_topic', topicid=user_topic.topic.id)}}">
    Delete
  </a>
</div>
{% endmacro %} {% macro render_topics_field(field) %}
<div class="topics_field">
  {{ field }}
</div>
{% endmacro %} {% macro render_event_topic(topic) %}
<option data-id="{{ topic.id }}" name="{{ topic.id }}" value="{{ topic.id }}">{{
  topic.name
}}</option>

{% endmacro %} {% macro render_edit_user(field) %}

{{ field }}

{% endmacro %} {% macro render_edit_user_macro(field) %}

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Edit Profile</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      Jon
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>

{% endmacro %}
